Repository caiousper2011/backend-gobarber: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn coverage, git add .

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write", "yarn coverage", "git add ."],
  "*.{js,md}": "prettier --write"
}

teste 9
  .simple-git-hooks.js
  package.json
Due: prettier --write

teste 11
  .lintstagedrc.json
  src/modules/appointments/infra/http/routes/appointments.routes.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

teste 12
  src/modules/appointments/infra/http/routes/appointments.routes.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

alteracoes
  src/modules/appointments/infra/http/routes/appointments.routes.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

defsdf
  .simple-git-hooks.js
Due: prettier --write

defsdf
  .lintstagedrc.json
Due: none

list e prettier no commit
  .lintstagedrc.json
  src/@types/express.d.ts
  src/modules/appointments/infra/http/routes/appointments.routes.ts
  src/shared/infra/typeorm/migrations/1613794413393-CreateUsers.ts
  src/shared/infra/typeorm/migrations/1613795890153-AlterProviderFieldToProviderId.ts
  src/shared/infra/typeorm/migrations/1616374397633-CreateUserTokens.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

teste no push
  .lintstagedrc.json
  .simple-git-hooks.js
  src/modules/appointments/infra/http/routes/appointments.routes.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

r
  .simple-git-hooks.js
Due: prettier --write

dfg
  src/modules/appointments/infra/http/routes/appointments.routes.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

finalização da configuração do pre-commit
  src/modules/appointments/infra/http/routes/appointments.routes.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .

template de email
  coverage/lcov-report/appointments/services/CreateAppointmentService.ts.html
  coverage/lcov-report/appointments/services/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/users/services/CreateUserService.ts.html
  coverage/lcov-report/users/services/ResetPasswordService.ts.html
  coverage/lcov-report/users/services/SendForgotPasswordEmailService.ts.html
  coverage/lcov-report/users/services/UpdateUserAvatarService.ts.html
  coverage/lcov-report/users/services/authenticateUserService.ts.html
  coverage/lcov-report/users/services/index.html
  coverage/lcov.info
  package.json
  src/modules/users/services/SendForgotPasswordEmailService.ts
  src/modules/users/views/forgot_password.hbs
  src/shared/container/providers/MailProvider/dtos/ISendMailDTO.ts
  src/shared/container/providers/MailProvider/fakes/FakeMailProvider.ts
  src/shared/container/providers/MailProvider/implementations/EtherealMailProvider.ts
  src/shared/container/providers/MailProvider/models/IMailProvider.ts
  src/shared/container/providers/MailTemplateProvider/dtos/IParseTemplateMail.ts
  src/shared/container/providers/MailTemplateProvider/fakes/FakeMailTemplateProvider.ts
  src/shared/container/providers/MailTemplateProvider/implementations/HandleBarsMailTemplateProvider.ts
  src/shared/container/providers/MailTemplateProvider/models/IMailTemplateProvider.ts
  src/shared/container/providers/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn coverage, git add .

refatoração dos testes com beforeEach
  coverage/lcov-report/appointments/services/CreateAppointmentService.ts.html
  coverage/lcov-report/appointments/services/index.html
  coverage/lcov-report/index.html
  coverage/lcov-report/users/services/CreateUserService.ts.html
  coverage/lcov-report/users/services/ResetPasswordService.ts.html
  coverage/lcov-report/users/services/SendForgotPasswordEmailService.ts.html
  coverage/lcov-report/users/services/UpdateUserAvatarService.ts.html
  coverage/lcov-report/users/services/authenticateUserService.ts.html
  coverage/lcov-report/users/services/index.html
  coverage/lcov.info
  src/modules/appointments/services/CreateAppointmentService.spec.ts
  src/modules/users/services/AuthenticateUserService.spec.ts
  src/modules/users/services/CreateUserService.spec.ts
  src/modules/users/services/ResetPasswordService.spec.ts
  src/modules/users/services/SendForgotPasswordEmailService.spec.ts
  src/modules/users/services/UpdateUserAvatarService.spec.ts
Due: eslint --fix, prettier --write, yarn coverage, git add .
